# Temporary files
tmp/

# Build directory
build/

# IntelliJ project files
.idea
*.iml
out
gen

# Logs
logs
*.log
.pnpm-debug.log*

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variable files
.env*

# SvelteKit
.svelte-kit/
package

# Cloudflare Wrangler
.wrangler/

static/
!static/CNAME
!static/favicon.ico
!static/email-signature
