<div class="row">
    <div class="col-lg-6 ">
        <h4 class="mt-2">Socials</h4>
        <a class="btn btn-github text-light" href="https://github.com/Jessseee" target="_blank"><i class="fab fa-github"></i> GitHub</a>
        <a class="btn btn-gitlab text-light" href="https://gitlab.com/Jessseee" target="_blank"><i class="fab fa-gitlab"></i> GitLab</a>
        <a class="btn btn-linkedin text-light" href="https://www.linkedin.com/in/jesse-visser-17a006171/" target="_blank"><i class="fab fa-linkedin"></i> LinkedIn</a>

        <h4 class="mt-2">My Resumé</h4>
        <p class="mb-1">Want to have all the key points in one document? Download my resumé!</p>
        <a href="resume.pdf" class="btn btn-info text-light mb-3" download="resume_jesse_visser.pdf"><i class="fas fa-download"></i> Download</a>
    </div>
    <div class="col-lg-6">
        <h4 class="mt-2">Contact Form</h4>
        <form id="contact-form" action="https://formspree.io/mnqgoeea" method="POST">
            <label for="gotcha" class="form-label honeypot">If you are a bot please fill in</label>
            <input id="gotcha" class="honeypot" type="text" name="_gotcha" />

            <div class="mb-2">
                <label for="contact-email" class="form-label">Your email</label>
                <input id="contact-email" class="form-control" type="email" placeholder="yourname@email.com" name="_replyto" required />
            </div>

            <div class="mb-3">
                <label for="contact-message" class="form-label">Your message</label>
                <textarea id="contact-message" class="form-control" placeholder="hey, I really like your portfolio! Want to chat?" name="message" required></textarea>
            </div>

            <button type="submit"
                    id="contact-submit"
                    class="g-recaptcha btn btn-outline"
                    data-sitekey="6LcUkLMZAAAAAPTlyMkwgj5fUJRfHrE9IpiuPSc_"
                    data-callback='onSubmit'
                    data-action='submit'
                    value="Send"> Submit </button>
            <span id="contact-submit-status" class="rounded px-3 py-2"></span>
        </form>
    </div>
</div>

<script>
    function onSubmit(token) {
        document.getElementById("contact-form").submit();
    }

    window.addEventListener("DOMContentLoaded", function() {
        const form = document.getElementById("contact-form");
        const button = document.getElementById("contact-submit");
        const status = document.getElementById("contact-submit-status");

        function success() {
            form.reset();
            status.classList.add("bg-success", "text-light");
            status.innerHTML = "Thanks!";
        }

        function error() {
            status.classList.add("bg-warning", "text-light");
            status.innerHTML = "Oops! There was a problem.";
        }

        form.addEventListener("submit", function(ev) {
            ev.preventDefault();
            button.style.display = "none";
            status.innerHTML = "<div class='spinner-border' style='width: 1.5rem; height: 1.5rem;'></div>";
            let data = new FormData(form);
            ajax(form.method, form.action, data, success, error);
        });
    });

    function ajax(method, url, data, success, error) {
        let xhr = new XMLHttpRequest();
        xhr.open(method, url);
        xhr.setRequestHeader("Accept", "application/json");
        xhr.onreadystatechange = function() {
            if (xhr.readyState !== XMLHttpRequest.DONE) return;
            if (xhr.status === 200) {
                success(xhr.response, xhr.responseType);
            } else {
                error(xhr.status, xhr.response, xhr.responseType);
            }
        };
        xhr.send(data);
    }
</script>