<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">
<title>{{ site.title }} | {{ page.title }}</title>

<!-- FavIcons -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ 'assets/favicons/apple-touch-icon.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ 'assets/favicons/favicon-32x32.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ 'assets/favicons/favicon-16x16.png' | relative_url }}">
<link rel="manifest" href="{{ 'assets/favicons/site.webmanifest' | relative_url }}">
<link rel="mask-icon" href="{{ 'assets/favicons/safari-pinned-tab.svg' | relative_url }}" color="#5bbad5">
<link rel="shortcut icon" href="{{ 'assets/favicons/favicon.ico' | relative_url }}">
<meta name="msapplication-config" content="{{ 'assets/favicons/browserconfig.xml' | relative_url }}">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

<!--  Open Graph  -->
<meta property="og:type" content="website">
<meta property="og:type" content="en_GB">
<meta property="og:title" content="{{ site.title }} | {{ page.title }}">
<meta property="og:description" content="{{ page.summary }}">
<meta property="og:image" content="{{ page.cover | absolute_url }}">
<meta property="og:image:alt" content="{{ page.title }}">
<meta property="og:url" content="{{ page.url | absolute_url }}">

<!-- Twitter Card -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@oneofmanyjesses">
<meta name="twitter:title" content="{{ site.title }} | {{ page.title }}">
<meta name="twitter:description" content="{{ page.summary }}">
<meta name="twitter:image" content="{{ page.cover | absolute_url }}">

<!--  CSS  -->
<link rel="stylesheet" type="text/css" href="{{ 'assets/css/main.css' | relative_url }}">

<!--  JS  -->
<script src="https://kit.fontawesome.com/93a420105f.js" crossorigin="anonymous"></script>
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="{{ 'assets/bootstrap/dist/js/bootstrap.min.js' | relative_url }}"></script>
<script src="{{ 'assets/js/main.js' | relative_url }}"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-126840544-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-126840544-1');
</script>