<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">
<title>{{ site.title }} | {{ page.title }}</title>

<!-- FavIcons -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ 'assets/favicons/apple-touch-icon.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ 'assets/favicons/favicon-32x32.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ 'assets/favicons/favicon-16x16.png' | relative_url }}">
<link rel="manifest" href="{{ 'assets/favicons/site.webmanifest' | relative_url }}">
<link rel="mask-icon" href="{{ 'assets/favicons/safari-pinned-tab.svg' | relative_url }}" color="#5bbad5">
<link rel="shortcut icon" href="{{ 'assets/favicons/favicon.ico' | relative_url }}">
<meta name="msapplication-config" content="{{ 'assets/favicons/browserconfig.xml' | relative_url }}">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

<!--  Open Graph  -->
<meta property="og:type" content="website">
<meta property="og:type" content="en_GB">
<meta property="og:title" content="{{ site.title }} | {{ page.title }}">
<meta property="og:description" content="{{ page.summary }}">
<meta property="og:image" content="{{ page.cover | absolute_url }}">
<meta property="og:image:alt" content="{{ page.title }}">
<meta property="og:url" content="{{ page.url | absolute_url }}">

<!-- Twitter Card -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@oneofmanyjesses">
<meta name="twitter:title" content="{{ site.title }} | {{ page.title }}">
<meta name="twitter:description" content="{{ page.summary }}">
<meta name="twitter:image" content="{{ page.cover | absolute_url }}">

<!--  CSS  -->
<link rel="stylesheet" type="text/css" href="{{ 'assets/css/main.css' | relative_url }}">
<link rel="stylesheet" type="text/css" href="{{ 'assets/css/syntax.css' | relative_url }}">

<script>
    /* COOKIES */
    function setCookie(cname, cvalue, exdays) {
        let d = new Date();
        d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
        let expires = "expires="+d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }

    function getCookie(cname) {
        let name = cname + "=";
        let ca = document.cookie.split(';');
        for(let i = 0; i < ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) === ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) === 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

    /* SET THEME */
    if (getCookie('theme') === "dark") {
        document.documentElement.setAttribute('data-theme', 'dark');
    }
</script>