<div id="navbar" class="nav nav-pills justify-content-end align-items-center px-3">
        <a class="navbar-brand mr-auto" href="{{ site.baseurl }}/">
            <img height="50" src="{{ 'assets/img/logo.png' | relative_url }}" alt="logo">
        </a>

        <a class="nav-item nav-link ml-3 btn" href="{{ site.baseurl }}/#intro">about</a>
        <a class="nav-item nav-link ml-3 btn" href="{{ site.baseurl }}/#projects">projects</a>
        <a class="nav-item nav-link ml-3 btn" href="{{ site.baseurl }}/#contact">contact</a>

        <label for="theme-toggle"></label>
        <input id="theme-toggle" type="checkbox" class="d-none" />
</div>