---
---

$body-bg: #fafafa;
$body-color: #444444;
$link-decoration: none;
$hr-height: 3px;

html {
  scroll-behavior: smooth;
}

.round {
  border-radius: 100%;
}

.btn {
  &#github {
    background-color: #ffd33d;
    &:hover, &:focus, &:active {
      background-color: mix(black, #ffd33d, 10%);
    }
  }
  &#gitlab {
    background-color: #fc6d26;
    &:hover, &:focus, &:active {
      background-color: mix(black, #fc6d26, 10%);
    }
  }

  &#linkedin {
    background-color: #0E76A8;
    &:hover, &:focus, &:active {
      background-color: mix(black, #0E76A8, 20%);
    }
  }
}

.btn:active,
.btn:focus,
.btn.active,
.btn:active:focus {
  background-image: none !important;
  outline: 0 !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.video-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.video-overlay {
  display: block;
  position: absolute;
  z-index: 1;
  color: #eee;
}

#navbar {
  @media only screen and (min-width: 900px) {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
  }

  .nav-link {
    border: 1px solid transparent;

    &:hover, &:focus, &:active {
      border: 1px solid #444444;
    }
  }
}

#intro-container {
  display: grid;
  grid-template-areas: 'image' 'intro';

  #intro {
    grid-area: intro;
    max-width: 400px;
    margin-top: 2rem;
  }

  #image {
    grid-area: image;
    img {
      width: 180px;
      height: 180px;
    }
  }

  @media only screen and (min-width: 600px) {
    grid-template-areas: 'image intro';
    grid-template-columns: 50% 50%;

    #intro {
      margin-top: 0;
    }
  }
}

#projects-container {
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: 250px;
  grid-gap: 20px;

  @media only screen and (min-width: 600px) {
    grid-template-columns: 1fr 1fr;
  }

  @media only screen and (min-width: 1000px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .project-card {
    border: 2px solid transparent;
    color: #777777;
    border-radius: 5px;
    display: grid;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);

    .summary {
      display: none;
    }

    &:hover, &:focus, &:active {
      &:not(#more-to-come) {
        border-color: #333333;
        color: #333333;
        filter: grayscale(30%);

        .summary {
          opacity: 1;
          display: unset;
        }
      }
    }

    &#more-to-come {
      border: 2px solid #eeeeee;
      margin: 0;
    }
  }
}

#project-page {
  img, video {
    max-width: 700px;
  }
}

#contact-form {
  max-width: 500px;

  .honeypot {
    display: none;
  }
}

@import "bootstrap";